@import 'tona-plugins/background/index.css';
@import 'tona-plugins/charts/index.css';
@import 'tona-plugins/clickEffects/index.css';
@import 'tona-plugins/codeCopy/index.css';
@import 'tona-plugins/codeHighlight/index.css';
@import 'tona-plugins/codeLinenumbers/index.css';
@import 'tona-plugins/codeTrafficLight/index.css';
@import 'tona-plugins/colorMode/index.css';
@import 'tona-plugins/commentsAvatars/index.css';
@import 'tona-plugins/darkMode/index.css';
@import 'tona-plugins/donation/index.css';
@import 'tona-plugins/emoji/index.css';
@import 'tona-plugins/imagePreview/index.css';
@import 'tona-plugins/license/index.css';
@import 'tona-plugins/live2d/index.css';
@import 'tona-plugins/lock/index.css';
@import 'tona-plugins/musicPlayer/index.css';
@import 'tona-plugins/notice/index.css';
@import 'tona-plugins/postBottomImage/index.css';
@import 'tona-plugins/postMessage/index.css';
@import 'tona-plugins/postTopImage/index.css';
@import 'tona-plugins/qrcode/index.css';
@import 'tona-plugins/signature/index.css';
@import 'tona-plugins/tools/index.css';
@import 'tona-plugins/webTag/index.css';
@import 'tona-plugins/footer/index.css';

:root {
  --chart-padding: 0 13.884px 16px;
  --donation-btn-colors: #10ac84;
  --donation-qrcode-background: var(--themeColor);
  --emoji-text-emoji-color: var(--color-basic-800);
  --emoji-bg: var(--emoji-bg);
  --emoji-border-color: var(--color-basic-300);
  --emoji-hover-bg: var(--color-basic-100);
  --emoji-hover-border-color: var(--color-basic-200);
  --emoji-font-emoji-size: 16px;
  --post-signature-primary: var(--themeColor);
  --post-signature-background: var(--color-basic-75);
  --post-signature-border-radius: 2px;
  --player-body-background: var(--color-basic-75);
  --post-bottomimage-image-height: 200px;
  --post-message-categories-background: #f13a3a;
  --post-message-tags-background-1: #22a6b3;
  --post-message-tags-background-2: #0097e6;
  --post-message-tags-background-3: #fbc531;
  --post-message-tags-background-4: #10ac84;
  --post-message-color-tags: var(--color-basic-700);
  --post-message-color-message: var(--color-basic-600);
  --post-message-color-categories: #fff;
  --signature-padding: 1rem 14px;
  --signature-font-size: 1em;
  --tool-menu-background: var(--color-basic-50);
}

#sidebar_news .custom-signature {
  padding-top: 0;
}

#catalog {
  position: sticky;
  top: 60px;
  width: 15.5vw;
  font-size: 13px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  margin-bottom: 16.2px;
  color: var(--color-basic-900);
}
#catalog.catalog-scroll-up {
  top: 10px;
  transition: top 0.2s;
}
#catalog h3 {
  display: flex;
  align-items: center;
  padding: 10.098px 14.418px;
  background-color: var(--color-basic-50);
  border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);
  font-weight: normal;
}
#catalog h3 .icon {
  width: 1.1em;
  height: 1.1em;
  margin-right: 5px;
}
#catalog ul {
  background-color: var(--color-basic-50);
  max-height: 550px;
  padding: 10px 14px 20px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#catalog ul li {
  position: relative;
  margin-top: 12px;
}
#catalog ul li::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -10px;
  margin-top: -2.5px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--themeColor);
  opacity: 0;
}
#catalog ul li.catalog-active {
  position: relative;
  color: var(--themeColor);
}
#catalog ul li.catalog-active::after {
  content: '';
  opacity: 1;
  transition:
    transform 0.2s,
    opacity 0.2s;
  transform: scale(1) translateX(0);
}
#catalog ul li a {
  display: inline-block;
  user-select: none;
  width: 100%;
}
#catalog ul li a .icon {
  width: 1.2em;
  height: 1.8em;
}
#catalog ul .h1-list {
  font-weight: 700;
}
#catalog ul .h1-list ~ .h2-list {
  margin-left: 1em;
  font-size: 14px;
}
#catalog ul .h1-list ~ .h2-list::before {
  display: none;
}
#catalog ul .h2-list ~ .h3-list {
  margin-left: 2em;
}
#catalog ul .h3-list ~ .h4-list {
  margin-left: 3em;
}
#catalog ul .h4-list ~ .h5-list {
  margin-left: 4em;
}
#catalog ul .h5-list ~ .h6-list {
  margin-left: 5em;
}

@media screen and (max-width: 767px) {
  #catalog {
    display: none;
  }

  body .custom-drag-menu {
    right: 86px !important;
    bottom: 22px;
  }
}
