@import 'tona-plugins/footer/index.css';
@import 'tona-plugins/license/index.css';
@import 'tona-plugins/codeHighlight/index.css';
@import 'tona-plugins/codeCopy/index.css';
@import 'tona-plugins/codeLinenumbers/index.css';
@import 'tona-plugins/imagePreview/index.css';
@import 'tona-plugins/donation/index.css';
@import 'tona-plugins/emoji/index.css';
@import 'tona-plugins/musicPlayer/index.css';
@import 'tona-plugins/postMessage/index.css';
@import 'tona-plugins/notice/index.css';
@import 'tona-plugins/signature/index.css';
@import 'tona-plugins/commentsAvatars/index.css';
@import 'tona-plugins/tools/index.css';

:root {
  --post-signature-primary: var(--themeColor);
  --post-signature-background: var(--background-e);
  --post-signature-border-radius: 2px;
  --imagebox-background: rgba(0, 0, 0, 0.5);
  --donation-btn-colors: #10ac84;
  --donation-qrcode-background: #fff;
  --emoji-text-emoji-color: #666;
  --emoji-bg: #fff;
  --emoji-border-color: #e1e1e1;
  --emoji-hover-bg: #f8f8f8;
  --emoji-hover-border-color: #140b0b;
  --emoji-font-emoji-size: 14px;
  --player-body-background: #fff;
  --post-message-categories-background: #ff6b6b;
  --post-message-tags-background-1: #22a6b3;
  --post-message-tags-background-2: #0097e6;
  --post-message-tags-background-3: #fbc531;
  --post-message-tags-background-4: #10ac84;
  --post-message-color-categories: #fff;
  --post-message-color-tags: #333;
  --post-message-color-message: #999;
  --signature-padding: 1rem 14px;
  --signature-font-size: 1em;
  --tool-menu-background: #fff;
  --tool-menu-color: #fff;
}
